<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <div class="container">

    <h1 class="titulo">Bienvenido </h1>
    <p class="subtitulo">
      Plataforma oficial para estudiantes, docentes y comunidad educativa.
    </p>

    <div class="card">
      <h2>Avisos</h2>
      <p>Consulta los anuncios más recientes de tu escuela.</p>
    </div>

    <div class="card">
      <h2>Recursos</h2>
      <p>Accede a materiales, tareas y contenido educativo.</p>
    </div>

    <div class="card">
      <h2>Comunidad</h2>
      <p>Conecta con compañeros y participa en actividades.</p>
    </div>

    <ion-button expand="block" class="btn-primary" routerLink="/inicio">
      Explorar más
    </ion-button>

  </div>

</ion-content>