<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <!-- IMAGEN ABAJO -->
  <div class="menu-footer">
    <img src="../assets/img/logotipo_lisboa.png" alt="logo">
  </div>

  <div class="container">

    <h1 class="titulo">Bienvenido a Fray_Hub </h1>
    <p class="subtitulo">
      App oficial para estudiantes, docentes y comunidad educativa de la UNIVERSIDAD LISBOA.
    </p>

    <div class="card clickable-card" routerLink="/tareas">
      <div class="lineas-decorativas-card"></div>
      <h2>Tareas Pendientes</h2>
      <p>Presiona para realizar tareas</p>
    </div>

    <div class="card clickable-card" routerLink="/actividad">
      <div class="lineas-decorativas-card"></div>
      <h2>Actividad de Clases</h2>
      <p>Tienes una nueva actividad en Clases.</p>
    </div>

    <div class="card clickable-card" routerLink="/herramientas">
      <div class="lineas-decorativas-card"></div>
      <h2>Herramientas digitales</h2>
      <p>Accede a materiales, tareas y contenido educativo.</p>
    </div>

    <div class="card clickable-card" routerLink="/comunidad">
      <div class="lineas-decorativas-card"></div>
      <h2>Comunidad</h2>
      <p>Conecta con compañeros y participa en actividades.</p>
    </div>

    <ion-button expand="block" class="btn-primary" routerLink="/inicio">
      Explorar más
    </ion-button>

  </div>

  

</ion-content>