<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>TAREAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- MATEMÁTICAS -->
  <ion-card>
    <ion-card-header>
      <ion-card-title> Matemáticas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Ejercicios de fracciones</h2>
            <p>Entrega: 10 de marzo</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>Problemas de álgebra</h2>
            <p>Entrega: 12 de marzo</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- ESPAÑOL -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Español</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Resumen de lectura</h2>
            <p>Entrega: 11 de marzo</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>Ensayo corto</h2>
            <p>Entrega: 13 de marzo</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- INGLÉS -->
  <ion-card>
    <ion-card-header>
      <ion-card-title> Inglés</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Vocabulary list</h2>
            <p>Due: March 10</p>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label>
            <h2>Grammar exercises</h2>
            <p>Due: March 14</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>