 <ion-header>
  <ion-toolbar>
    <ion-title>Materias</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- Segmentos -->
  <ion-segment (ionChange)="cambiarSegmento($event)">
    <ion-segment-button value="materias">
      <ion-label>Materias</ion-label>
    </ion-segment-button>

    <ion-segment-button value="biblioteca" >
      <ion-label>Biblioteca</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="ion-padding fondo">

  <h1 class="titulo">Mis Materias</h1>
  <p class="subtitulo">Consulta información de tus asignaturas</p>

  <!-- MATEMÁTICAS -->
  <ion-card class="card-mate">
    <ion-card-header>
      <ion-card-title> Matemáticas</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Temas: Álgebra, fracciones, ecuaciones</p>
      <ion-button expand="block" routerLink="/tareas">
        Ver tareas
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- ESPAÑOL -->
  <ion-card class="card-espanol">
    <ion-card-header>
      <ion-card-title>Español</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Temas: Lectura, redacción, literatura</p>
      <ion-button expand="block" routerLink="/tareas">
        Ver tareas
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- INGLÉS -->
  <ion-card class="card-ingles">
    <ion-card-header>
      <ion-card-title> Inglés</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Temas: Grammar, vocabulary, speaking</p>
      <ion-button expand="block" routerLink="/tareas">
        Ver tareas
      </ion-button>
    </ion-card-content>
  </ion-card>


  <!-- segmentos --------------------------------------------------------->

 



</ion-content>